build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/faceID.vcxproj
build/faceID.vcxproj.filters
build/VideoFaceIdentification.sln
build/VideoFaceIdentification.vcxproj
build/VideoFaceIdentification.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-984651d9ad5c69a0bf77.json
build/.cmake/api/v1/reply/codemodel-v2-324b8d67fc424def7214.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-MinSizeRel-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2021-12-09T20-38-08-0473.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-10727130ab097c0d03e2.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-10727130ab097c0d03e2.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-10727130ab097c0d03e2.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-10727130ab097c0d03e2.json
build/.cmake/api/v1/reply/target-faceID-Debug-e358f81bff6bb7b37321.json
build/.cmake/api/v1/reply/target-faceID-MinSizeRel-579cc1acc69ca864b7a6.json
build/.cmake/api/v1/reply/target-faceID-Release-90431feba154a2ff614c.json
build/.cmake/api/v1/reply/target-faceID-RelWithDebInfo-f013d4e6c3a21365b0a8.json
build/.cmake/api/v1/reply/target-VideoFaceIdentification-Debug-324f6f1a39363c33e053.json
build/.cmake/api/v1/reply/target-VideoFaceIdentification-MinSizeRel-3a7d080cb30ae4d7a93a.json
build/.cmake/api/v1/reply/target-VideoFaceIdentification-Release-b74a04d1cded9266f875.json
build/.cmake/api/v1/reply/target-VideoFaceIdentification-RelWithDebInfo-faae58888b610c128e04.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-f5ba38cd57244d71d6bc.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-f5ba38cd57244d71d6bc.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-f5ba38cd57244d71d6bc.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-f5ba38cd57244d71d6bc.json
build/.cmake/api/v1/reply/toolchains-v1-6fdaecf633ce6cf8e63e.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.22.0-rc2/CMakeCCompiler.cmake
build/CMakeFiles/3.22.0-rc2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.0-rc2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.0-rc2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.0-rc2/CMakeRCCompiler.cmake
build/CMakeFiles/3.22.0-rc2/CMakeSystem.cmake
build/CMakeFiles/3.22.0-rc2/VCTargetsPath.txt
build/CMakeFiles/3.22.0-rc2/VCTargetsPath.vcxproj
build/CMakeFiles/3.22.0-rc2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.0-rc2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.22.0-rc2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.22.0-rc2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.22.0-rc2/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.22.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.22.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.22.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.22.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.22.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.22.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.22.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.22.0-rc2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.22.0-rc2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.22.0-rc2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.22.0-rc2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.22.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.22.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.22.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.22.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.22.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.22.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.22.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.22.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.22.0-rc2/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.22.0-rc2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/697771f79151613373ea500154fcb1a0/generate.stamp.rule
build/VideoFaceIdentification.dir/Release/kek.obj
build/VideoFaceIdentification.dir/Release/VideoFaceIdentification.lib.recipe
build/VideoFaceIdentification.dir/Release/VideoFac.32EEAD04.tlog/CL.command.1.tlog
build/VideoFaceIdentification.dir/Release/VideoFac.32EEAD04.tlog/CL.read.1.tlog
build/VideoFaceIdentification.dir/Release/VideoFac.32EEAD04.tlog/CL.write.1.tlog
build/VideoFaceIdentification.dir/Release/VideoFac.32EEAD04.tlog/CustomBuild.command.1.tlog
build/VideoFaceIdentification.dir/Release/VideoFac.32EEAD04.tlog/CustomBuild.read.1.tlog
build/VideoFaceIdentification.dir/Release/VideoFac.32EEAD04.tlog/CustomBuild.write.1.tlog
build/VideoFaceIdentification.dir/Release/VideoFac.32EEAD04.tlog/Lib-link.read.1.tlog
build/VideoFaceIdentification.dir/Release/VideoFac.32EEAD04.tlog/Lib-link.write.1.tlog
build/VideoFaceIdentification.dir/Release/VideoFac.32EEAD04.tlog/Lib.command.1.tlog
build/VideoFaceIdentification.dir/Release/VideoFac.32EEAD04.tlog/VideoFaceIdentification.lastbuildstate
build/bin/Release/faceID.exe
build/faceID.dir/Release/faceID.exe.recipe
build/faceID.dir/Release/main.obj
build/faceID.dir/Release/faceID.tlog/CL.command.1.tlog
build/faceID.dir/Release/faceID.tlog/CL.read.1.tlog
build/faceID.dir/Release/faceID.tlog/CL.write.1.tlog
build/faceID.dir/Release/faceID.tlog/CustomBuild.command.1.tlog
build/faceID.dir/Release/faceID.tlog/CustomBuild.read.1.tlog
build/faceID.dir/Release/faceID.tlog/CustomBuild.write.1.tlog
build/faceID.dir/Release/faceID.tlog/faceID.lastbuildstate
build/faceID.dir/Release/faceID.tlog/link.command.1.tlog
build/faceID.dir/Release/faceID.tlog/link.read.1.tlog
build/faceID.dir/Release/faceID.tlog/link.write.1.tlog
build/lib/Release/VideoFaceIdentification.lib
build/x64/Release/ALL_BUILD/ALL_BUILD.recipe
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
.vscode/settings.json
